*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: serif;
    color: black;
}
/* Defaults */
h1{
    font-family: 'Playfair Display SC', serif;
    font-size: 3.5rem;
    line-height: 1.3;
}
h2{
    font-family: 'EB Garamond', serif;
    font-size: 3rem;
    line-height: 1.1;
}
h3{
    font-size: 1.5rem;
    line-height: 1;
}
p{
    font-size: 1.5rem;
    line-height: 1.5;
    text-align: left;
}
span{
    color: white;
    font-weight: bold;
    text-decoration: underline;
}
a{
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: bolder;
}
a:hover{
    opacity: 0.5;
    color: #1B9AAA;
}
body{
    background-color: white;
}

/* header */
header{
    max-width: 1600px;
    max-height: 300px;
    padding: 0 10px;
    margin: 20px auto;

    position: sticky;
    top: 0;
    left: 0;
    z-index: 2;
}
nav{
    height: 100%;
    padding: 10px 0;

    border-bottom: solid 1px;
    background-color: white;

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;

    animation-name: none;
    animation-delay: 7s;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}
nav section{
    width: 50%;
}
nav aside{
    width: 50%;
    display: flex;
    justify-content: flex-end;
}
nav aside a{
    display: inline-block;
    margin: 10px;
}
.disabled-hyper{
    opacity: 0.2;
}
.disabled-hyper:hover{
    opacity: 0.1;
}

/* Main */
main{
    max-width: 1500px;
    margin: 0 auto;
    padding: 0 10px;
}

.introduction-wrapper{
    height: 600px;
    margin: 0 0 20px 0;

    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../images/kevin.jpg");
    background-size: cover;
    border-style: solid;

    display: flex;
    align-items: flex-end;

    animation-name: none;
    animation-delay: 8s;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}
.introduction-wrapper article{
    padding: 50px;
}
.introduction-wrapper article p{
    margin: 10px 0 0 0;
    width: 50%;
    color: white;
}
.introduction-wrapper h2{
    color: white;
}

/* Projects */
.projects-wrapper section{
    margin: 20px auto;

    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: left;
}
.projects-wrapper figure{
    margin: 0 0 10px 0;

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;

    box-shadow: 4px 4px 8px 4px rgba(0,0,0,0.2);
    background-color: black;
}
.projects-wrapper img{
    background-color: white;
    max-width: 250px;
    max-height: 250px;
}
.projects-wrapper figcaption{
    flex: 2;
    height: 100%;
    padding: 10px;

    display: flex;
    flex-flow: column nowrap;
    justify-content: left;
    align-items: center;

}
.projects-wrapper section h3{
    color: white;
}
.projects-wrapper section p{
    color: white;
    text-align: center;
    padding: 25px 50px;
}
.projects-wrapper section a{
    margin: 0 20px;
    padding: 1em;

    background-color: white;
    color: #1B9AAA;
    cursor: pointer;

    border-style: solid;
    border-radius: 1em;
    border-color: #1B9AAA;

    font-size: 1em;
    font-weight: bold;

    transition: background-color 0.2s;
}
.projects-wrapper section a:hover{
    opacity: 1;
    background-color: #1B9AAA;
    color: white;
}

/* Influences Page */
.influences-wrapper article{
    margin: 10px auto;
    max-width: 1000px;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 350px 350px;
    gap: 10px 15px;
}
.influences-wrapper article figure{
    background-color: white;
    border-style: solid;
    overflow: hidden;
    position: relative;
}
.influences-wrapper article figure:hover{
    background-color: #1B9AAA;
    border-width: 5px;
}
.influences-wrapper article figure:hover > .hover-image{
    opacity: 0.1;
}
.influences-wrapper article figure:hover > .hover-figcaption{
    visibility: visible;
    opacity: 1;
}
.hover-image{
    display: block;
    margin: 0 auto;
    max-width: 100%;
    width: 100%;
    height: 100%;
    transition: opacity 1s;
}
.hover-figcaption{
    width: 100%;
    padding: 20px;
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: visibility 0s;
    transition: opacity 1s linear;
}
.hover-figcaption p{
    color: white;
}

/* Contact Page */
.contact-wrapper{
    width: 50%;
    margin: 0 auto;
    padding: 10px;

    border-style: solid;
}
.contact-wrapper form{
    display: flex;
    flex-flow: column nowrap;
    justify-content: left;
    align-items: left;
}
.contact-wrapper form label{
    display: inline-block;
    margin: 10px 0;
}
.contact-wrapper form input{
    height: 25px;
    padding: 10px;
}
.contact-wrapper form select{
    max-width: 20%;
}
.contact-wrapper form select option{
    height: 25px;
    padding: 10px;
}
#submit{
    height: initial;
    margin: 10px 0;
    padding: 15px 35px;
    align-self: center;

    background-color: white;
    color: #1B9AAA;
    cursor: pointer;

    border-style: solid;
    border-radius: 1em;
    border-color: #1B9AAA;

    font-size: 1em;
    font-weight: bold;

    transition: background-color 0.2s;
}
#submit:hover{
    background-color: #1B9AAA;
    color: white;
}

/* Footer */
footer{
    height: 50px;
    width: 100%;
    position: fixed;
    bottom: 0;

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-content: center;

    background-color: black;
}
footer .flaticon-wrapper{
    color: white;
    text-align: center;
}
footer .flaticon-wrapper a{
    margin: 0 auto;
    color: white;
}